
<div class="container">
	<h1>Editing Tweet</h1>

	<%= render 'form', tweet: @tweet %>

	<% if @tweet.user == current_user %>
		<%= link_to 'Show', @tweet %> |
	<% end %>

	<%= link_to 'Back', tweets_path %>
</div>
