<div class="jumbotron jumbotron-home">
    <div class="container">
        <%if user_signed_in? %>
            <h1>Welcome Back</h1>
        <% else %>

        <p style="color:white; font-size:3rem; vertical-align: middle;">Welcome to Shutter Up! <br>Find inspiration, and connect to the photography community.</p>
        <%= link_to "Sign up »", "#", class: "btn btn-primary btn-lg" %> 
        <% end %>
    </div>
</div>
</div>